@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply dark;
}

@layer base {
  .dark {
    --color-bg: hsl(207, 26%, 17%);
    --color-elements: hsl(209, 23%, 22%);
    --color-text: hsl(0, 0%, 100%);
  }
}

.light {
  --color-bg: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
}

img {
  object-fit: cover;
}
